---
---

@import "{{ site.theme }}";


.wrapper {
width:900px;
margin:50px;
}

header {
margin-right:5px;
}

section {
width:600px;
border-left: 1px dotted #727272;
}

p {

text-align:justify;
}

footer p {
text-align:left;
}

img {
display:inline;

}